.footer {
  background-color: #f8f8f8;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  padding: 12rem 0 6rem;
}

.footer-content {
  max-width: 21rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.footer-social-link {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-link:hover {
  background-color: var(--primary-color);
}

.footer-social-link ion-icon {
  font-size: 1.25rem;
  color: var(--primary-color);
}

.footer-social-link:hover ion-icon {
  color: #fff;
}

.copyright {
  color: #afb5c0;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.footer-link-title {
  font-size: 1.125rem;
  line-height: 1.6667;
  font-weight: 500;
  color: var(--heading-color);
  margin-bottom: 1.25rem;
}

.footer-link-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .footer-links {
    grid-template-columns: 1fr;
  }
}
