.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .hero-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
