.partners-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.partner-logo {
  width: 180px;
  filter: invert(99%) sepia(5%) saturate(1047%) hue-rotate(176deg)
    brightness(92%) contrast(93%) grayscale(100%);
}
